@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class style="font-weight: bold"="display-4">EquineNow</h1>
        <p class="lead">Horse Plus Humane Society(HPHS) is a 501(c)(3) non-profit animal welfare organization that rescues, shelters, and protects horses across the United States from entering the slaughter pipeline. HPHS does this by attending hundreds of horse auctions each year in attempt to outbuy the kill buyers. Before bringing their new horses to the rescue, the team must document and store an abundance of detailed information regarding each horse. This documentation continues throughout the time each horse is at the rescue.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <p>
            <img src="https://images.unsplash.com/photo-1603989888581-3115416784fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=623&q=80" width="300" height="500"
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Our Horses &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <p>
        <img src="https://images.unsplash.com/photo-1523813163258-05d2f5e2602d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" width="300" height="500"</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" 
        </p>
    </div>

    <div class="col-md-4">
       
        <p>
            <img src="https://images.unsplash.com/photo-1507055427882-eb38f96fb498?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" width="300" height="500" </p>
        </p>
    </div>
</div>



@*<div class="=" row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Hello </th>
                    <th>Testing </th>
                    <th>What </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="danger">Horse1</td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
        </table>
    </div>
</div>*@

