body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

li a {
    color: white;
}

#navbar {
    background-color: #3b7c8c;
    text-align: right;
    margin-top: -50px;
    color: white;
}

#top-right {
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}


#main-jumbo {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom: groove;
}

.list-group-item.active {
    z-index: auto;
    color: black;
    background-color: white;
    border-color: black;
    text-align: left;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
